$color_1: #2e2f31;
$color_2: #fff;
$background-color_1: #fff;
$background-color_2: #f2f2f7;
$background-color_3: rgba(0, 180, 216, 0.8);
$background-color_4: #59d3eb;
$background-color_5: #e67600;
$background-color_6: #ffffff;
$background-color_7: #d1d1d1;
$background-color_8: rgba(0, 180, 216, 0.9);

* {
    margin: 0;
    padding: 0;
}

.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

// 导航栏 
nav {
    height: 90px;
    position: fixed;
    background-color: $background-color_1;
    z-index: 1000000;

    // 顶层 
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;

        // 顶层左边 
        .top-left {
            display: flex;
            align-items: center;

            // LOGO 
            .logo {
                img {
                    height: 37px;
                }
            }

            // 搜索框 
            .anime-search {
                width: 310px;
                position: relative;
                margin-left: 50px;

                .anime-search-input {
                    width: 300px;
                    height: 30px;

                    input {
                        border-radius: 8px;
                        border: 1px solid #d1d1d1;
                        height: 100%;
                        width: 100%;
                        outline: 0;
                        padding-left: 8px;
                        background-color: $background-color_2;
                        color: $color_1;
                    }

                    .anime-search-icon {
                        box-sizing: border-box;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 32px;
                        background-color: $background-color_1;
                        border: 1px solid #d1d1d1;
                        border-radius: 0 8px 8px 0;
                        padding: 3px 8px;
                        cursor: pointer;

                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        // 顶层右边 
        .top-right {

            // 选单 
            ul {
                display: flex;
                align-items: center;

                //各个选项
                li {

                    // 搜索图标
                    &:nth-child(1) {
                        background-image: url("../img/nav/search-icon.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        display: none;
                        width: 18px;
                    }

                    // 通知图标 
                    &:nth-child(2) {
                        background-image: url("../img/nav/navicon_notification.svg");
                    }

                    // 订阅图标
                    &:nth-child(3) {
                        background-image: url("../img/nav/navicon_notification.svg");
                    }

                    // 推荐图标 
                    &:nth-child(4) {
                        background-image: url("../img/nav/navicon_notification.svg");
                    }

                    // 头像图标 
                    &:nth-child(5) {
                        background-image: url("../img/nav/none.gif");
                        background-position: center;
                        border-radius: 50%;
                        height: 35px;
                        width: 35px;
                    }

                    // 巴哈姆特图标 
                    &:nth-child(6) {
                        background-image: url("../img/nav/baha_s.png");
                        height: 35px;
                        width: 35px;
                        background-size: contain;
                    }
                }
            }

            li {
                height: 25px;
                width: 25px;
                margin-right: 10px;
                cursor: pointer;
                background-position: center;
                background-size: contain;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    // 下层 
    .bottom {
        height: 35px;
        background-color: $background-color_3;

        //主菜单容器
        .container {
            display: flex;
            height: 100%;
            position: relative;

            // 主菜单 
            .main-menu {
                display: flex;

                // 菜单选项
                li {
                    margin-right: 15px;
                    height: 100%;
                    line-height: 35px;
                    padding: 0 10px;

                    &:hover {
                        background-color: $background-color_4;
                    }
                }

                a {
                    color: $color_2;
                }

                // 付费方案
                .active {
                    background-color: $background-color_5;
                }
            }

            // 深色模式切换按钮
            .dark_swift_button {
                width: 50px;
                height: 25px;
                background-color: $background-color_6;
                border-radius: 100px;
                display: flex;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 5px;

                // 容器 
                .oooo {
                    position: relative;

                    // 月亮图标
                    .moon {
                        background-image: url("../img/nav/pic_moon.svg");
                        background-size: 18px 18px;
                        background-repeat: no-repeat;
                        background-position: 2px;
                        width: 52px;
                        height: 26px;
                    }

                    // 太阳图标
                    .sun {
                        position: absolute;
                        background-image: url("../img/nav/pic_sun.svg");
                        background-size: 18px 18px;
                        background-repeat: no-repeat;
                        background-position: 28px;
                        width: 52px;
                        height: 26px;
                        top: 0;
                    }

                    //纽
                    .radio {
                        position: absolute;
                        background-color: $background-color_7;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        top: 4px;
                        left: 4px;
                        transition: all 0.5s ease 0s;
                    }
                }
            }
        }
    }

    ul {
        list-style: none;
    }
}

// 屏幕宽度低把主菜单隐藏替换成菜单图标 
.menu-icon {
    display: none;
}

// 海报 
.banner {
    width: 100%;
    height: auto;
    display: block;
}

//用于撑起nav position：fixed的空缺
.nav-block {
    height: 90px;
    width: 100%;
}

//响应式
@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

//搜索框改成搜索图标
@media (max-width: 650px) {

    //搜索图标显示
    nav {
        .top {
            .top-right {
                ul {
                    li {
                        &:nth-child(1) {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    //搜索框消失
    .anime-search {
        display: none;
    }
}

//把主菜单改为竖列（方便手机使用查看）
@media (max-width: 810px) {

    //主菜单改为可点击指针
    .bottom {
        cursor: pointer;
    }

    //更改菜单样式
    .main-menu {
        top: 35px;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        display: none;
        background-color: $background-color_8;

        li {
            width: 100%;
            text-align: center;
            border-bottom: #d1d1d1 1px solid;
        }
    }

    //显示主菜单图标
    .menu-icon {
        height: 100%;
        display: flex;
        align-items: center;
    }
}