@charset "UTF-8";
.newanime-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.newanime-block .newanime-finalcard:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.newanime-block .newanime-finalcard:hover .hole-f {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.newanime-block .newanime-finalcard .hole-a {
  background-color: #00b4d8;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.newanime-block .newanime-finalcard .hole-a .hole-f {
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #fff;
}
.newanime-block .newanime-finalcard .hole-a .hole-f p {
  color: #fff;
}
.newanime-block .newanime-finalcard .hole-a .hole-f .final-card-lastWords {
  height: 100%;
  padding: 10px;
}
.newanime-block .newanime-finalcard .hole-a .hole-f .final-card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newanime-block .newanime-finalcard .hole-a .hole-f .final-card p {
  font-size: 2rem;
}
.newanime-block .newanime-content {
  padding: 10px 8px 0px 8px;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
}
.newanime-block .newanime-content .newanime-card {
  width: 100%;
  position: relative;
  font-size: 0.8em;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.newanime-block .newanime-content .newanime-card:hover .newanime-card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic p {
  color: #fff;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-img:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: #2a2c2c;
  border-radius: 4px;
  padding: 3px;
  left: 10px;
  top: 5px;
  z-index: 1;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-time img {
  content: url("../img/content/pic-clock.svg");
  width: 16px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-suki {
  position: absolute;
  background: url("../img/content/like_default.svg");
  height: 40px;
  width: 40px;
  right: 5px;
  z-index: 1;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-sukied {
  background: url("../img/content/like_active.svg");
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 10px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-pic .newanime-card-episode img {
  content: url("../img/content/pic-tv.svg");
  width: 12px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 8px 8px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-name .newanime-name {
  height: 15px;
  padding: 3px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-name .newanime-name p {
  white-space: nowrap;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.newanime-block .newanime-content .newanime-card .newanime-card-name .newanime-name p:hover {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.newanime-block .newanime-content .newanime-card .newanime-card-name .newanime-watch img {
  content: url("../img/content/pic-fire.svg");
  width: 12px;
}
.newanime-block .newanime-content .newanime-card .newanime-card-name .newanime-watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showMoreBtn {
  margin: auto;
  cursor: pointer;
  background-color: #00b4d8;
  -webkit-box-shadow: 4px 0px 10px 3px rgba(150, 150, 150, 0.1);
          box-shadow: 4px 0px 10px 3px rgba(150, 150, 150, 0.1);
  max-width: 400px;
  width: calc(100% - 16px);
  color: #fff;
  text-align: center;
  margin-top: 50px;
  line-height: 2.5;
  font-size: 1.2rem;
  border-radius: 4px;
}
.showMoreBtn:hover {
  background-color: #59d3eb;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 响应式 */
@media screen and (min-width: 1300px) {
  .newanime-content {
    width: 15%;
  }
}
@media screen and (max-width: 1400px) {
  .hot-anime-card {
    width: 17%;
  }
}
@media screen and (max-width: 1300px) {
  .newanime-content {
    width: 20%;
  }
  .hot-anime-card {
    width: 20%;
  }
  .news-card {
    width: 30%;
  }
}
@media screen and (max-width: 1300px) {
  .news-card {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 768px) {
  .newanime-content {
    width: 30%;
  }
  .hot-anime-card {
    width: 30%;
  }
  .news-card {
    width: 30%;
  }
  .news-card {
    width: calc(100% - 16px);
  }
}
@media screen and (max-width: 576px) {
  .newanime-content {
    width: 45%;
  }
  .hot-anime-card {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .newanime-content {
    width: 80%;
  }
  .hot-anime-card {
    width: 70%;
  }
  .news-card {
    width: 70%;
  }
}