body {
  background-color: #f6f6fa;
}
section p {
  color: #2e2f31;
}
/* 番剧和周期表和排序 */
.anime-menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.anime-menu .switcher {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  left: 30px;
}
.anime-menu .switcher {
  font-size: 1.1rem;
}
.anime-menu .switcher p {
  cursor: pointer;
  margin-right: 20px;
}
.anime-menu p:nth-child(2) {
  color: var(--text-secondary-color);
}
.anime-menu .bbb {
  background-color: #d1d1d1;
  height: 45px;
  width: 90px;
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  top: 2px;
  left: -9px;
  transition: all 0.5s ease-in-out;
}
.filter {
  cursor: pointer;
  align-items: center;
  display: flex;
}
.filter img {
  height: 12px;
}
/* 本季新番 */
.newanime-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.newanime-content {
  width: 15%;
  padding: 10px 8px 0px 8px;
}
.newanime-card {
  width: 100%;
  position: relative;
  font-size: 0.8em;
  box-shadow: 4px 11px 10px -5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.newanime-card:hover .newanime-card-img {
  transform: scale(1.1);
}
.newanime-card-pic {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.newanime-card-pic p {
  color: #fff;
}
.newanime-card-img {
  background: url("../img/anime_card/anime_pic\ \(10\).jpg");
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 100%;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s;
}

.newanime-card-time {
  display: flex;
  position: absolute;
  background-color: rgb(42, 44, 44, 0.9);
  border-radius: 4px;
  padding: 3px;
  left: 10px;
  top: 5px;
  z-index: 1;
}
.newanime-card-time img {
  content: url("../img/content/pic-clock.svg");
  width: 16px;
}
.newanime-card-suki {
  position: absolute;
  background: url("../img/content/like_default.svg");
  height: 40px;
  width: 40px;
  right: 5px;
  z-index: 1;
}
.newanime-card-episode {
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 10px;
}
.newanime-card-episode img {
  content: url("../img/content/pic-tv.svg");
  width: 12px;
}
.newanime-card-name {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
}
.newanime-card-name {
  border-radius: 0 0 8px 8px;
}
.newanime-name {
  height: 15px;
  padding: 3px;
  padding-left: 10px;
  flex: 1;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.newanime-name p:hover {
  transform: translateX(-100%);
}
.newanime-name p {
  white-space: nowrap;
  transition: transform 2s;
}
.newanime-watch img {
  content: url("../img/content/pic-fire.svg");
  width: 12px;
}
.newanime-watch {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .newanime-content {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .newanime-content {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .newanime-content {
    width: 40%;
  }
}
@media screen and (max-width: 360px) {
  .newanime-content {
    width: 80%;
  }
}
