body {
  background-color: #f6f6fa;
}
section p {
  color: #2e2f31;
}
/* 番剧和周期表和排序 */
.anime-menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.anime-menu .switcher {
  display: flex;
  position: relative;
  height: 50px;
  align-items: center;
  left: 30px;
}
.anime-menu .switcher {
  font-size: 1.1rem;
}
.anime-menu .switcher p {
  cursor: pointer;
  margin-right: 20px;
}
.anime-menu p:nth-child(2) {
  color: var(--text-secondary-color);
}
.anime-menu .bbb {
  background-color: #d1d1d1;
  height: 45px;
  width: 90px;
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  top: 2px;
  left: -9px;
  transition: all 0.5s ease-in-out;
}
.filter {
  cursor: pointer;
  align-items: center;
  display: flex;
}
.filter img {
  height: 12px;
}
/* 本季新番 */
.newanime-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.newanime-content {
  width: 15%;
  padding: 10px 8px 0px 8px;
  animation: fadeInAnimation ease 1s;
}
.newanime-card {
  width: 100%;
  position: relative;
  font-size: 0.8em;
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
  border-radius: 8px;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.newanime-card:hover .newanime-card-img {
  transform: scale(1.1);
}
.newanime-card-pic {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.newanime-card-pic p {
  color: #fff;
}
.newanime-card-img {
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 100%;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s;
}

.newanime-card-time {
  display: flex;
  position: absolute;
  background-color: rgb(42, 44, 44, 0.9);
  border-radius: 4px;
  padding: 3px;
  left: 10px;
  top: 5px;
  z-index: 1;
}
.newanime-card-time img {
  content: url("../img/content/pic-clock.svg");
  width: 16px;
}
.newanime-card-suki {
  position: absolute;
  background: url("../img/content/like_default.svg");
  height: 40px;
  width: 40px;
  right: 5px;
  z-index: 1;
}
.newanime-card-sukied {
  background: url("../img/content/like_active.svg");
}
.newanime-card-episode {
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 10px;
}
.newanime-card-episode img {
  content: url("../img/content/pic-tv.svg");
  width: 12px;
}
.newanime-card-name {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
}
.newanime-card-name {
  border-radius: 0 0 8px 8px;
}
.newanime-name {
  height: 15px;
  padding: 3px;
  padding-left: 10px;
  flex: 1;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}
.newanime-name p:hover {
  transform: translateX(-100%);
}
.newanime-name p {
  white-space: nowrap;
  transition: transform 2s;
}
.newanime-watch img {
  content: url("../img/content/pic-fire.svg");
  width: 12px;
}
.newanime-watch {
  display: flex;
  align-items: center;
}
.newanime-finalcard:hover .hole-f {
  transform: translateY(-100%);
}
.newanime-finalcard:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.hole-a {
  background-color: rgb(0, 180, 216, 0.8);
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.hole-f p {
  color: #fff;
}
.hole-f {
  height: 100%;
  transition: all 1s ease-in-out;
}
.hole-f {
  color: #fff;
  height: 100%;
}
.final-card-lastWords {
  height: 100%;
  padding: 10px;
}
.final-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.final-card p {
  font-size: 2rem;
}
.showMoreBtn {
  cursor: pointer;
  background-color: #00b4d8;
  box-shadow: 4px 0px 10px 3px rgba(150, 150, 150, 0.1);
  max-width: 400px;
  width: calc(100% - 16px);
  color: #fff;
  text-align: center;
  margin-top: 50px;
  line-height: 2.5;
  font-size: 1.2rem;
  border-radius: 4px;
}
.showMoreBtn:hover {
  background-color: #59d3eb;
}
/* 周期表 */
.program-list-bblock {
  display: none;
  position: relative;
  animation: fadeInAnimation ease 1s;
  overflow: hidden;
}
.program-list-hint {
  margin: 30px 0;
}
.program-list-block {
  margin: auto;
  width: 83vw;
  height: 561px;
  overflow: auto;
}
.program-list-bblock:before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 64px;
  width: 100%;
  z-index: 3;
  background: linear-gradient(
    0deg,
    rgba(150, 150, 150, 0.1),
    rgba(100, 100, 100, 0)
  );
  pointer-events: none;
}
.program-list {
  align-items: flex-start;
  display: flex;
  width: 1550px;
  margin: 0 4px 4px 4px;
}
.day-anime-time {
  padding: 8px;
  color: #00b4d8;
  font-size: 14px;
  line-height: 22px;
}
.day-anime-info {
  padding: 12px 0;
  display: flex;
  border-bottom: 1px solid #d1d1d1;
}
.day-anime-info:last-of-type {
  border-bottom: none;
}
.day-list {
  margin-left: 10px;
  padding: 8px 8px;
  width: 331px;
  border-radius: 8px;
  background-color: #fff;
}
.today-list {
  position: relative;
  border-radius: 2px;
  border: 1px solid #e67600;
}
.today-list .day-title:after {
  content: "今天";
  display: block;
  background-color: #e67600;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  border-radius: 0 0 0 4px;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.6;
}
.day-list:nth-of-type(1) {
  margin-left: 0;
}
.day-anime-detail {
  padding: 8px;
  width: 100%;
}
.day-anime-name {
  color: #2e2f31;
  font-size: 14px;
  line-height: 22px;
}
.day-anime-name:hover {
  color: #e67600;
}
.day-anime-episode {
  color: rgba(46, 47, 49, 0.6);
  font-size: 12px;
  line-height: 20px;
  text-align: end;
  letter-spacing: 1px;
}
/* 近期热播 */
.recent-hot {
  margin-top: 100px;
  margin-bottom: 100px;
}
.titleOne {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.hot-anime {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hot-anime-card {
  position: relative;
  width: 13%;
  height: 350px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(150, 150, 150, 0.1);
  margin: 0 8px 30px;
}
.hot-anime-card:hover .hot-anime-img {
  transform: scale(1.05);
}
.hot-anime-pic {
  height: 87%;
  width: 100%;
  overflow: hidden;
}
.hot-anime-img {
  background-image: url("../img/anime_card/hotAnime/anime_pic(0).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  transition: all 0.3s ease-in-out;
}

.hot-anime-info {
  padding: 6px 8px 8px;
  background-color: #fff;
  color: #2e2f31;
}
.hot-anime-name {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
}
.hot-anime-information {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.hot-anime-information i {
  font-size: 0.6rem;
  display: flex;
}
.hot-anime-information div {
  background-color: #eaeff0;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.4rem;
}
.PublisherChannel {
  height: 200px;
  margin-bottom: 300px;
}
/* 发行商频道 */
.channel-block {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.channels {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition: 0.5s ease;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.channel {
  content: url("../img/content/publisher/ani-one-logo.png");
  border-radius: 50%;
  width: 11.8%;
  height: width;
  background-color: #fff;
  margin-right: 10px;
  box-sizing: border-box;
  z-index: 12;
}
.channel:hover {
  border: #00b4d8 2px solid;
}
.channel-btn {
  position: absolute;
  color: #fff;
  background-color: #59d3eb;
  height: 60px;
  cursor: pointer;
  width: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 13;
  top: 40%;
}
.channel-right {
  right: 0;
}
/* 相关新闻 */
.Newstitle {
  margin-top: 40px;
  display: flex;
}
.Newstitle a {
  margin-left: 10px;
  display: flex;
  line-height: 2.5;
  color: #00b4d8;
}
.Newstitle a p {
  color: #00b4d8;
  font-weight: bolder;
}
.news-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.news-card {
  color: #000;
  width: 30%;
  height: 156px;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(150, 150, 150, 0.1);
}
.news-card:hover .news-img-block div {
  transform: scale(1.1);
}
.news-img-block {
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.news-img-block div {
  height: inherit;
  transition-duration: 500ms;
  background-size: cover;
  background-position: center;
}
.news-content-text-area {
  width: 70%;
  height: 100%;
  padding: 16px 8px 8px 16px;
  display: flex;
  flex-direction: column;
}
.news-content-detail {
  padding: 12px 5px;
  color: rgba(46, 47, 49, 0.6);
  overflow: hidden;
  height: 69px;
  line-height: 1;
}
/* 响应式 */
@media screen and (max-width: 1400px) {
  .hot-anime-card {
    width: 17%;
  }
}
@media screen and (max-width: 1300px) {
  .newanime-content {
    width: 20%;
  }
  .hot-anime-card {
    width: 20%;
  }
  .news-card {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .newanime-content {
    width: 30%;
  }
  .hot-anime-card {
    width: 30%;
  }
  .news-card {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .newanime-content {
    width: 45%;
  }
  .hot-anime-card {
    width: 45%;
  }
  .news-card {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .newanime-content {
    width: 80%;
  }
  .hot-anime-card {
    width: 70%;
  }
  .news-card {
    width: 70%;
  }
}
