@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* 导航栏 */
nav {
  height: 90px;
  position: fixed;
  background-color: #fff;
  z-index: 1000000;
  /* 顶层 */
  /* 下层 */
}
nav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  /* 顶层左边 */
  /* 顶层有边 */
}
nav .top .top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* LOGO */
  /* 搜索框 */
}
nav .top .top-left .logo img {
  height: 37px;
}
nav .top .top-left .anime-search {
  width: 310px;
  position: relative;
  margin-left: 50px;
}
nav .top .top-left .anime-search .anime-search-input {
  width: 300px;
  height: 30px;
}
nav .top .top-left .anime-search .anime-search-input input {
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  height: 100%;
  width: 100%;
  outline: 0;
  padding-left: 8px;
  background-color: #f2f2f7;
  color: #2e2f31;
}
nav .top .top-left .anime-search .anime-search-input .anime-search-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 0 8px 8px 0;
  padding: 3px 8px;
  cursor: pointer;
}
nav .top .top-left .anime-search .anime-search-input .anime-search-icon img {
  vertical-align: middle;
}
nav .top .top-right {
  /* 选单 */
}
nav .top .top-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .top .top-right ul li {
  /* 搜索图标 */
  /* 通知图标 */
  /* 订阅图标 */
  /* 推荐图标 */
  /* 头像图标 */
  /* 巴哈姆特图标 */
}
nav .top .top-right ul li:nth-child(1) {
  background-image: url("../img/nav/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  width: 20px;
}
nav .top .top-right ul li:nth-child(2) {
  background-image: url("../img/nav/navicon_notification.svg");
}
nav .top .top-right ul li:nth-child(3) {
  background-image: url("../img/nav/navicon_notification.svg");
}
nav .top .top-right ul li:nth-child(4) {
  background-image: url("../img/nav/navicon_notification.svg");
}
nav .top .top-right ul li:nth-child(5) {
  background-image: url("../img/nav/none.gif");
  background-position: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
nav .top .top-right ul li:nth-child(6) {
  background-image: url("../img/nav/baha_s.png");
  height: 35px;
  width: 35px;
  background-size: contain;
}
nav .top .top-right li {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
}
nav .top .top-right li a {
  display: block;
  width: 100%;
  height: 100%;
}
nav .bottom {
  height: 35px;
  background-color: rgba(0, 180, 216, 0.8);
}
nav .bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  /* 主菜单 */
  /* 深色模式切换按钮 */
  /* 屏幕宽度低把主菜单隐藏替换成菜单图标 */
}
nav .bottom .container .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 菜单选项 */
  /* 付费方案 */
}
nav .bottom .container .main-menu li {
  margin-right: 15px;
  height: 100%;
  line-height: 35px;
  padding: 0 10px;
}
nav .bottom .container .main-menu li:hover {
  background-color: #59d3eb;
}
nav .bottom .container .main-menu a {
  color: #fff;
}
nav .bottom .container .main-menu .active {
  background-color: #e67600;
}
nav .bottom .container .dark_swift_button {
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
  /* 容器 */
}
nav .bottom .container .dark_swift_button .oooo {
  position: relative;
  /* 月亮图标 */
  /* 太阳图标 */
}
nav .bottom .container .dark_swift_button .oooo .moon {
  background-image: url("../img/nav/pic_moon.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 2px;
  width: 52px;
  height: 26px;
}
nav .bottom .container .dark_swift_button .oooo .sun {
  position: absolute;
  background-image: url("../img/nav/pic_sun.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 28px;
  width: 52px;
  height: 26px;
  top: 0;
}
nav .bottom .container .dark_swift_button .oooo .radio {
  position: absolute;
  background-color: #d1d1d1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
nav .bottom .container .menu-icon {
  display: none;
}

/* 海报 */
.banner {
  width: 100%;
  height: auto;
  display: block;
}

/* 用于修复nav position:fixed错误（撑起nav）。 */
.nav-block {
  height: 90px;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 响应式 */
@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}
@media (max-width: 615px) {
  .top-right ul li:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .anime-search {
    display: none;
  }
}
@media (max-width: 810px) {
  .bottom {
    cursor: pointer;
  }
  .main-menu {
    top: 35px;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    display: none;
    background-color: rgba(0, 180, 216, 0.9);
  }
  .main-menu li {
    width: 100%;
    text-align: center;
    border-bottom: #d1d1d1 1px solid;
  }
  .menu-icon {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}