* {
  margin: 0;
  padding: 0;
}
:root {
  --anime-white-rgb: 255, 255, 255;
  --anime-black-rgb: 0, 0, 0;
  --anime-primary-color: #00b4d8;
  --anime-primary-rgb: 0, 180, 216;
  --anime-primary-hover: #59d3eb;
  --anime-secondary-color: #e67600;
  --anime-secondary-rgb: 230, 118, 0;
  --anime-secondary-hover: #f68b19;
  --anime-tertiary-color: #ea7b94;
  --anime-specific-color: #00555f;
  --baha-primary-color: #117e96;
  --baha-primary-light: #13aeab;
  --anime-background-base: #f6f6fa;
  --anime-background-base-rgb: 246, 246, 250;
  --anime-background-elevated: #ffffff;
  --anime-background-fill: #eaeff0;
  --anime-background-fill-rgb: 234, 239, 240;
  --text-default-color: #2e2f31;
  --text-secondary-color: rgba(46, 47, 49, 0.6);
  --text-tertiary-color: rgba(46, 47, 49, 0.3);
  --text-quaternary-color: rgba(46, 47, 49, 0.18);
  --text-on-primary: #ffffff;
  --border-color: #d1d1d1;
  --gray0-color: #f2f2f7;
  --gray0-color-rgb: 242, 242, 247;
  --gray1-color: #e5e5ea;
  --gray2-color: #d1d1d6;
  --gray3-color: #c7c7cc;
  --gray4-color: #aeaeb2;
  --gray5-color: #8e8e93;
  --seperator-transparent: #3c3c4326;
  --seperator-solid: #c6c6c8;
  --emphasize-error: #ff3838;
  --nav-color-bg: rgba(var(--anime-primary-rgb), 0.8);
  --nav-text-hover: rgba(var(--anime-white-rgb), 0.6);
  --border-shadow: rgba(150, 150, 150, 0.1);
  --border-shadow-hover: rgba(107, 107, 107, 0.3);
  --border-timeline: var(--border-color);
  --border-text-list: var(--border-color);
  --border-divid-line: var(--border-color);
  --border-search-card-line: var(--border-color);
  --videoplayer-damu-list-hover: var(--anime-background-fill);
  --videoplayer-anime-title: var(--text-default-color);
  --card-hover-bg: rgba(var(--anime-secondary-rgb), 0.2);
  --card-other-hover-bg: #ffe3e9;
  --card-bg: var(--anime-background-elevated);
  --card-brand-bg: var(--anime-background-elevated);
  --card-history-bg: var(--anime-background-elevated);
  --card-fb-bg: var(--anime-background-base);
  --card-fbcommunicate-bg: transparent;
  --input-bg: rgba(255, 255, 255, 0.1);
  --input-bg-hover: rgba(0, 0, 0, 0.1);
  --text-section-hightlight: var(--anime-background-fill);
  --text-sub-color: var(--text-secondary-color);
  /* --text-section-anime-time: #f5f5f5; */
  --text-section-hover: #ffb427;
  --text-tag-in-hover: rgb(var(--anime-white-rgb));
  --block-color: rgb(var(--anime-white-rgb));
  --selected-color: var(--anime-secondary-color);
  --link-default-color: var(--anime-primary-color);
  --span-animelist-switch-bg: rgb(var(--anime-white-rgb));
  --span-animelist-switch-text: #195877;
  --span-hours: rgba(55, 55, 55, 0.9);
  --span-days: var(--gray3-color);
  --span-R18: rgba(173, 44, 35, 0.9);
  --span-paid: rgba(239, 149, 1, 0.9);
  --span-new-anime: rgba(219, 85, 57, 0.9);
  --span-color-ova: rgba(88, 141, 178, 0.9);
  --span-text: rgb(var(--anime-white-rgb));
  --span-bilingual: rgba(218, 50, 106, 0.9);
  --span-playing-now: rgba(70, 181, 31, 0.9);
  --btn-primary: var(--anime-primary-color);
  --btn-primary-hover: var(--anime-primary-hover);
  --btn-more: #ebebeb;
  --btn-more-hover: #f6f8f9;
  --btn-favorite-video: #ea81aa;
  --btn-bannerslider: rgba(var(--anime-primary-rgb), 0.7);
  --btn-bannerslider-hover: rgba(35, 153, 210, 0.9);
  --btn-search-trashicon-bg: rgb(var(--anime-white-rgb));
  --btn-search-trashicon-bg-hover: rgba(150, 150, 150, 0.1);
  --auxiliary-line: #e6e6e6;
  --tag-search-bg: #f5f5f5;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}
a {
  text-decoration: none;
}
nav {
  height: 90px;
  position: fixed;
  background-color: #fff;
  z-index: 1000000;
}
.nav-block {
  height: 90px;
  width: 100%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}
ul {
  list-style: none;
}
.top-left {
  display: flex;
}
.top-left .logo img {
  height: 37px;
}
.top-right ul {
  display: flex;
}
.top-right li {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.top-right ul li:nth-child(1) {
  background-image: url("../img/nav/search-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
.top-right ul li:nth-child(2) {
  background-image: url("../img/nav/navicon_notification.svg");
}
.top-right ul li:nth-child(3) {
  background-image: url("../img/nav/navicon_notification.svg");
}
.top-right ul li:nth-child(4) {
  background-image: url("../img/nav/navicon_notification.svg");
}
.top-right ul li:nth-child(5) {
  background-image: url("../img/nav/defyhcb_s.png");
  background-position: center;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.top-right ul li:nth-child(6) {
  background-image: url("../img/nav/baha_s.png");
  height: 35px;
  width: 35px;
  background-size: contain;
}
/* 第二栏 */
.bottom {
  height: 35px;
  background-color: rgba(0, 180, 216, 0.8);
}
.bottom .container {
  display: flex;
  height: 100%;
  position: relative;
}
.main-menu {
  display: flex;
}
.menu-icon {
  display: none;
}
.main-menu li {
  margin-right: 15px;
  height: 100%;
  line-height: 35px;
  padding: 0 10px;
}
.main-menu a {
  color: #fff;
}
.main-menu .active {
  background-color: #e67600;
}
.main-menu li:hover {
  background-color: #59d3eb;
}
.banner {
  width: 100%;
  height: auto;
  display: block;
}
/* 暗黑模式切换 */
.dark_swift_button {
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
}
.oooo {
  position: relative;
}
.moon {
  background-image: url("../img/nav/pic_moon.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 2px;
  width: 52px;
  height: 26px;
}
.sun {
  position: absolute;
  background-image: url("../img/nav/pic_sun.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 28px;
  width: 52px;
  height: 26px;
  top: 0;
}
.radio {
  position: absolute;
  background-color: #d1d1d1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: all 0.5s ease 0s;
}
/* 搜索框 */
.anime_search {
  position: relative;
  width: 300px;
  height: 30px;
  margin-left: 40px;
}
.anime_search input {
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  height: 32px;
  width: 81%;
  padding-left: 8px;
  padding-right: 40px;
  background-color: #f2f2f7;
  color: #2e2f31;
}
.anime_search_icon {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 0 8px 8px 0;
  padding: 5px 8px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}
@media (max-width: 615px) {
  .top-right ul li:nth-child(1) {
    display: flex;
  }
  .anime_search {
    display: none;
  }
}
/* 响应式 */
@media (max-width: 810px) {
  .bottom {
    cursor: pointer;
  }
  .main-menu {
    top: 35px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: none;
    background-color: rgba(0, 180, 216, 0.9);
  }
  .main-menu li {
    width: 100%;
    text-align: center;
    border-bottom: #d1d1d1 1px solid;
  }
  .menu-icon {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
