header
  a.brand(href="https://csstoggles.github.io/", target="_blank") CSS Toggle
  a.nav(href="https://github.com/vineethtrv/css-toggle" , target="_blank")
  
-for(var i = 1; i < 112; i++)
  section(id="model-" + i) 
    .card
      .toggle
        input(type="checkbox" id="check-"+ i)
        label(for="check-"+ i)
      
// To view the implimention vist https://csstoggles.github.io/
footer
  a(href="https://csstoggles.github.io/" target="_blank") Visit CSS Toggle 